<div class="outline outline-0 outline-black px-[10px] py-[10px] border border-t-0 border-black">
  <div class="flex flex-row max-w-[400px]">
    <div>
      <p>
        <%= image_tag User.find(comment.user_id).user_prof_pic, class: "rounded-full w-[75px] h-[75px] py-1 px-1" %>
      </p>
    </div>
    <div class="flex flex-col max-w-full ">
      <h1 class="max-w-fit"> <%= User.find(comment.user_id).email %> </h1>
      <p class="max-w-full ">
        <strong><%= t('comment') %> </strong>
        <p class="w-auto break-words"> <%= comment.body %> </p>
      </p>
    </div>
  </div>
</div>