/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .center_all {
    display: flex;
    flex-direction: column;
    margin: auto;
 }

 .rounded_button {
   @apply px-4 py-2 rounded-md bg-gray-200 hover:bg-gray-400 active:bg-gray-600;
 }

 .test {
   @apply field my-[10px] font-sans !important;
}

.test2 {
   @apply rounded-md !important;
}